<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231956155232-ssvpdug5gi0v3tb7sun0ivlg1r9t3ko2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231956155232-ssvpdug5gi0v3tb7sun0ivlg1r9t3ko2</string>
	<key>API_KEY</key>
	<string>AIzaSyAcaAg_-Sr-KSAUi6y1gpF57tpIawRxtFo</string>
	<key>GCM_SENDER_ID</key>
	<string>231956155232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsc.SwiftUICombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftuicombine-c8e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuicombine-c8e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231956155232:ios:be572d68eee2e70ffe2c05</string>
</dict>
</plist>